body {
    min-width:400px;

    background: #cdcbcb;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

button {
    border: none;
    margin: 0;
}

input {
    margin: 0;
}

[data-tooltip] {
    position: relative;
}
[data-tooltip]::before {
    content: attr(data-tooltip);
    position: absolute;
    width: 100px;
    left: calc(-55px + 50%);
    top: 0;

    background: purple;
    color: lightgray;
    padding: 5px;
    pointer-events: none;
    opacity: 0;
    transition: 1s;
    border-radius:20px;
    font-size:12px;
}
[data-tooltip]:hover::before {
    opacity: 1;
    top: -30px;
}

.main-container {
    max-width: 100%;
    padding-top:100px;
    width:1000px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.badge {
    position: fixed;
    left: 20px;
    bottom:0px;

    padding:0 20px 0 20px;
    height:30px;

    background-color: purple;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: all 0.5s ease;
}

.badge:hover {
    border-color: darkslateblue;
    background-color: darkslateblue;
    height:70px;
}

@media print {
    .badge {
        height:40px;
        border:1px solid purple;
    }
    .badge-title {
        display: none;
    }
}

.badge-title {
    padding:5px;

    color: white;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
}

.badge-created {
    color: white;
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
}

.badge-name {
    color: white;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
}

.doubled {
    display:flex;
    flex-direction:row;
}

.left-container {
    width:67%;
    margin:10px;

    background-color: white;
    border-radius: 5px;
}

.right-container {
    width:33%;
    height: min-content;
    margin:10px;
    display: block;

    background-color: white;
    border-radius: 5px;
}

@media(max-width:600px) {
    .doubled {
       display:block;
    }

    .right-container {
        width:95%;
    }

    .left-container {
        width:95%;
    }
}

.input-container {
    display: flex;
    padding: 15px;
}

.input-field {
    display:inline;
    width:70%;
    height:40px;

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid gray;
    box-sizing: border-box;
}

.input-button {
    display:inline;
    width:30%;
    height:37px;

    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

    color: white;
    background-color: blue;
    font-weight: bold;
    box-sizing: border-box;
    box-shadow: 0 3px 0 darkblue;
}

.input-button:hover {
    background-color: darkblue;
}

.goods-container {
    display:flex;
    padding: 15px;
}

.goods-label {
    height: 40px;
    padding-top:11px;
    width:40%;

    box-sizing: border-box;
}

.add-container {
    display:flex;
    width: 120px;
    margin-right:auto;
}

.delete-container {
    display:flex;
    width: 120px;
}

.minus-button {
    margin: 5px;
    width:30px;
    height:30px;

    color: lightgray;
    font-weight: bold;
    font-size: 18px;

    border-radius: 50%;
    background-color: red;
    box-shadow: 0 3px 0 darkred;
}

.minus-button:hover {
    background-color: darkred;
}

.number-container {
    margin: 5px;
    width:30px;
    height:30px;

    color: #555555;
    background-color: lightgray;

    text-align: center;
    padding-top:6px;
    border-radius:5px;
    box-sizing: border-box;
}

.plus-button {
    margin: 5px;
    width:30px;
    height:30px;

    color: lightgray;
    font-weight: bold;
    font-size: 18px;

    border-radius: 50%;
    background-color: green;
    box-shadow: 0 3px 0 darkgreen;
}

.plus-button:hover {
    background-color: darkgreen;
}

.sell-button {
    display:inline;
    margin: 5px;
    width:70px;

    color: #555555;
    background-color: lightgray;
    font-weight: bold;
    font-size: 12px;
    box-sizing: border-box;
    box-shadow: 0 3px 0 gray;
    border-radius: 5px;
}

.sell-button:hover {
    background-color: gray;
}

.delete-button {
    display:inline;
    margin: 5px;
    width:30px;

    color: lightgray;
    background-color: red;
    font-weight: bold;
    box-shadow: 0 3px 0 darkred;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: darkred;
}

.remained-container {
    padding: 15px;
}

.border {
    border-bottom: 1px solid gray;
}
.right-label {
    padding: 15px;
    font-weight: bold;
}

.sold-container {
    padding: 15px;
}

.right-goods {
    display: inline-flex;
    padding: 5px;
    margin: 5px;
    height: 30px;

    background-color: lightgray;
    border-radius: 5px;
    box-sizing: border-box;
}

.right-goods-name {
    padding-top:5px;

    color: #555555;
    font-size: 10px;
    font-weight: bold;

    box-sizing: border-box;
}

.right-number {
    margin-left:5px;
    padding-top:5px;
    width: 20px;
    height: 20px;

    color:white;
    text-align: center;
    font-size:10px;
    font-weight: bold;

    border-radius: 50%;
    background-color: orange;
    box-sizing: border-box;
}