
.number-pizza {
  display: inline-block;
  margin-top: 14px;
  margin-left: 10px;

  border-radius: 50%;
  width: 25px;
  height: 25px;

  text-align: center;

  color: white;
  background-color: #ea862e;
}

.sort-btn {
  flex-wrap: wrap;
  .btn {
    color: #d16200;

    background-color: antiquewhite;
    border: none;
  }
}

.pizza-card {

  img {
    padding: 10px;
    border-radius: 50%;
  }

  h3 {
    color: @mainColor;
    background-color: lighten(@mainColor, 45%);
  }
}